<head>
    <title>Dostava Leda Novi Sad - 24/7 | kocke leda i drobljeni led</title>

    <link rel="canonical" href="https://ledenivuk.com/">
    <meta name="description" content="Dostava leda Novi Sad! Led za piće, koktele, hranu. Idealan za ugostitelje, ribarnice, proslave i događaje. Kocke i drobljeni led, brza dostava 24h dnevno">
    <meta name="author" content="Ledeni Vuk">
    <meta property="og:title" content=" Dostava leda Novi Sad - 24/7 | kocke leda i drobljeni led ">
    <meta property="og:description" content="Dostava leda Novi Sad! Led za piće, koktele, hranu. Idealan za ugostitelje, ribarnice, proslave i događaje. Kocke i drobljeni led, brza dostava 24h dnevno">
    <meta property="og:image" content="https://ledenivuk.com/pic/led1.jpg">
    <meta property="og:url" content="https://ledenivuk.com/">
    <meta property="og:type" content="website">
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large">

    <script type="application/ld+json">
        @Html.Raw(@"{
          ""@context"": ""https://schema.org"",
          ""@type"": ""LocalBusiness"",
          ""name"": ""Ledeni Vuk"",
          ""image"": ""https://ledenivuk.com/pic/whitelogopng.png"",
          ""telephone"": ""+381646107897"",
          ""email"": ""ledenivuk021@gmail.com"",
          ""address"": {
            ""@type"": ""PostalAddress"",
            ""addressLocality"": ""Novi Sad"",
            ""postalCode"": ""21000"",
            ""addressCountry"": ""RS""
          },
          ""sameAs"": ""https://www.instagram.com/ledenivuk/?__pwa=1#""
        }")
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17060934585">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-17060934585');
    </script>
    <script>
        gtag('event', 'conversion', {
            'send_to': 'AW-17060934585/B5LdCKOL6cMaELnnpMc_',
            'value': 1.0,
            'currency': 'USD'
        });
    </script>

</head>

<body>

    <div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-primary btnclose" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i></button>
                    <h5 class="modal-title poiret" id="welcomeModalLabel"></h5>
                </div>
                <div class="modal-body">
                    <img id="modalImage" src="" class="img-fluid" alt="jedan od reklamnih postera u okviru stranice kao relevantan prikaz kampanje korisnicima!" loading="eager"/>
                </div>
                <div class="modal-footer">
                    <p class="subscript ">Posteri su kreirani isključivo za kampanju kompanije LedeniVuk i ne smeju se koristiti u druge svrhe!</p>
                </div>
            </div>
        </div>
    </div>


    <section class="about poiret sectionstart">
        <div class="container50 text-center">
            <h1>Kvaliitetan led za ugostitelje, privatne proslave i događaje, restorane, kafiće, klubove i supermarkete.</h1>
            <h1 style="color:orangered; text-transform:none">Idealan za svako piće, koktele i hranu – savršen za svaku priliku</h1>
            <hr />
            <h2 class="question">
                Tražite savršen led za vaša pića i događaje?
            </h2>
            <h2 class="answer">
                <strong class="strong">Na pravom ste mestu</strong> Nudimo kristalno čist i higijenski proizveden led koji će podići svaki koktel, bezalkoholno piće ili događaj na viši nivo. Bez obzira da li organizujete zabavu, vodite restoran ili želite da osvežite omiljeno piće kod kuće, naš led je idealno rešenje.
            </h2>
            <h3 class="poiret worktime">
                Radno vreme <strong id="hours" class="strong1">1</strong> h <span class="break-after">dnevno</span>
                <strong class="strong1">365</strong> dana godišnje
            </h3>
            <h4 class="delivery">Dostava na željenu adresu! <i class="bi bi-truck" style="color:orangered"></i></h4>
            <a id="contact-link">Kontaktirajte nas</a>
        </div>
    </section>

    <section class="container0 sectionvideo">
        <div class="row align-items-center">
            <div class="col-md-6 mb-4">
                <video id="customVideo" class="w-100 rounded" muted loading="lazy" poster="pic/postervideo.jpg">
                    <source src="pic/video1.MOV" type="video/mp4">
                    Vaš pregledač ne podržava video.
                </video>
            </div>
            <div class="col-md-6 poiret">
                <h3 class="animate-item"><i class="bi bi-snow2"></i> Pakovanja od 4kg i 8kg</h3>
                <h3 class="animate-item"><i class="bi bi-snow2"></i> Brza i pouzdana dostava</h3>
                <h3 class="animate-item"><i class="bi bi-snow2"></i> Za poslovnu i kućnu upotrebu</h3>
                <h3 class="animate-item"><i class="bi bi-snow2"></i> Higijenska proizvodnja</h3>
            </div>
        </div>
    </section>

    <section class="sectiontext poiret">



        <div class="clearice">
            <h3 class="neworder">Novo u ponudi!</h3>
            <p style="padding:20px 30px; color:white;"><strong class="strong">Clear Ice</strong> - kristalno proziran led bez mehurića koji ne muti piće niti menja njegov ukus. Ručno se seče u obliku štangle, kugle ili kocke. Sporo se topi, pružajući luksuzan izgled i vrhunsko osveženje. <strong style="color:#a6ffd1; font-family:'Chollistio - Personal use'">#clearice</strong></p>
            <div class="row" style="text-align:center;">
                <div class="col-4"><img src="~/pic/stangla.jpg" alt="clearice u obliku stangle, rucno secen, pruza utisak luksuza"/></div>
                <div class="col-4"><img src="~/pic/kugla.jpg" alt="clearice u obliku kugle/lopte, rucno secen, pruza moderan glamurozni izgled" /></div>
                <div class="col-4"><img src="~/pic/kockaclear.jpg" alt="clearice u klasicnom obliku kocke, rucno secen, prefinjen i klasican" /></div>
            </div>
            <svg style="position:absolute; bottom:-5px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,128L1440,256L1440,320L0,320Z"></path></svg>

        </div>

        <h2 class="container50">
            Bez obzira na to da li tražite kocke leda za savršene koktele, drobljeni led za ribarnice i dekoraciju hrane i ketering, ili specijalne oblike za jedinstvene događaje, imamo sve što Vam treba! Naš led ne samo da osvežava, već i doprinosi estetskom izgledu vaših pića i prezentacija.
        </h2>
        <div class="row align-items-center container50">
            <div class="col-md-2 text-center">
                <img src="~/pic/kocka.jpg" alt="kocka leda" loading="lazy"/>
            </div>
            <div class="col-md-10 poiret">
                <p >
                    Proizvodimo savršene <strong class="strong">ledene kocke</strong> zahvaljujući vrhunskoj tehnologiji i strogoj kontroli kvaliteta. Njihov atraktivan oblik i dugotrajnost čine ih idealnim za ugostiteljstvo i širu primenu.
                    Sporo topljenje znači manju potrošnju i bolje osveženje za vaša pića.
                </p>
            </div>
        </div>
        <div class="row align-items-center container50 text-center">
            <div class="col-md-2 text-center drobljeni">
                <img src="~/pic/drobljeni.jpg" alt="drogljeni led" loading="lazy"/>
            </div>
            <div class="col-md-10 poiret">
                <p>
                    <strong class="strong">Drobljeni led</strong> je savršen dodatak za brže rashlađivanje i duže očuvanje svežine.
                    Idealno je rešenje za upotrebu u restoranima, supermarketima i za dekoraciju hrane i pića.
                    Njegova sposobnost sporog topljenja doprinosi očuvanju kvaliteta, dok je jednostavan za upotrebu i skladištenje.
                </p>
            </div>
        </div>

    </section>

    <section class="campains1">
        <div class="showcapain">
            <a class=" poiret" data-bs-toggle="collapse" href="#testCollapse" role="button" aria-expanded="false" aria-controls="testCollapse">
                <i class="bi bi-chevron-double-down bi1"></i> Ledeni Vuk je izbor pobednika SURVIVOR-a! <i class="bi bi-chevron-double-down b1"></i>
            </a>
        </div>
        <div class="collapse imgcampain" id="testCollapse">
            <div class="row">
                <div class="col-4">
                    <img src="~/pic/izborpobednika.png" alt="Poster ciji je glavni junak pobdnik Survivor-a Srbija 2025 - Uros Cica, reklamna kampanja kompanije za desktop i tablet verziju" loading="lazy" />
                </div>
                <div class="col-4">
                    <img src="~/pic/izborpobednika1.png" alt="Poster ciji je glavni junak pobdnik Survivor-a Srbija 2025 - Uros Cica i drugoplasirana Ksenija Babic, reklamna kampanja kompanije za desktop i tablet verziju" loading="lazy" />
                </div>
                <div class="col-4">
                    <img src="~/pic/clearice.png" alt="Poster ciji je glavni junak popularni koktel majstor iz Novog Sada, reklamna kampanja kompanije za desktop i tablet verziju" loading="lazy" />
                </div>

            </div>
        </div>
    </section>

    <section class="campains">
    <div class="showcapain">
        <a class=" poiret" data-bs-toggle="collapse" href="#testCollapse" role="button" aria-expanded="false" aria-controls="testCollapse">
                <i class="bi bi-chevron-double-down bi1"></i> Ledeni Vuk je izbor pobednika SURVIVOR-a! <i class="bi bi-chevron-double-down b1"></i>
        </a>
    </div>
    <div class="collapse imgcampain" id="testCollapse">
            <img src="~/pic/izborpobednika.png" alt="Poster ciji je glavni junak pobdnik Survivor-a Srbija 2025 - Uros Cica, reklamna kampanja kompanije - verzija za smartphone" loading="lazy" />
    </div>
    <div class="showcapain">
        <a class=" poiret" data-bs-toggle="collapse" href="#testCollapse1" role="button" aria-expanded="false" aria-controls="testCollapse1">
                <i class="bi bi-chevron-double-down"></i> Pobednici znaju zašto baš CLEAR ICE! <i class="bi bi-chevron-double-down"></i>
        </a>
    </div>
    <div class="collapse imgcampain" id="testCollapse1">
            <img src="~/pic/izborpobednika1.png" alt="Poster ciji je glavni junak pobdnik Survivor-a Srbija 2025 - Uros Cica i drugoplasirana Ksenija Babic, reklamna kampanja kompanije - verzija za smartphone" loading="lazy" />
    </div>
    <div class="showcapain">
        <a class=" poiret" data-bs-toggle="collapse" href="#testCollapse2" role="button" aria-expanded="false" aria-controls="testCollapse2">
                <i class="bi bi-chevron-double-down"></i> CLEAR ICE - idealan za koktele! <i class="bi bi-chevron-double-down"></i>
        </a>
    </div>
    <div class="collapse imgcampain" id="testCollapse2">
            <img src="~/pic/clearice.png" alt="Poster ciji je glavni junak popularni koktel majstor iz Novog Sada, reklamna kampanja kompanije - verzija za smartphone" loading="lazy"/>
    </div>

    </section>




    <section class="container0 sectioncursel">
        <h2 class="poiret text-end"><strong class="strong" style="font-size:20px;">na usluzi smo vam 24h dnevno</strong></h2>

        <div id="contact" class="row align-items-center">
            <div class="col-md-4 mb-4">
             <img src="~/pic/led1.jpg" class="d-block w-100" alt="led u casama">
            </div>
            <div class="col-md-8 text-center">
                <h1 class="monoton pozovitenas">Pozovite nas i naručite</h1>
                <h2 class="poiret lok"><strong class="lokstrong"> - Dostava Novi Sad - </strong></h2>
                <a class="bungee phone" href="tel:+381646107897">064 610 7897</a><br />
                <h2 class="poiret lok"><strong class="lokstrong"> - Dostava Beograd - </strong></h2>
                <a class="bungee phone" href="tel:+381606407088">060 640 7088</a><br />
                <h1 class="monoton" style="margin-top:30px">ili nam pišite putem email-a</h1>
                <a class="poiret email" href="mailto:ledenivuk021@gmail.com">ledenivuk021@gmail.com</a>
            </div>
        </div>
    </section>

    <section class="sectionsocial">
        <p class="poiret">Zapratite nas na instagramu <br /><a href="https://www.instagram.com/ledenivuk/?__pwa=1#" target="_blank"><i class="bi bi-instagram"></i> ledenivuk</a></p>
    </section>

    <div class="modal fade" id="instagramModal" tabindex="-1" aria-labelledby="instagramModalLabel" aria-hidden="true" style="color:white !important">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="btn btn-primary btnclose" data-bs-dismiss="modal">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <a href="https://www.instagram.com/ledenivuk/?__pwa=1#"
                       target="_blank"
                       class="btn btn-primary mb-3"
                       style="padding: 15px 50px;background-color:orangered !important; border:none !important">
                        profil - Novi Sad <i class="bi bi-instagram"></i>
                    </a><br>
                    <a href="https://www.instagram.com/ledenivuk011/?__pwa=1#"
                       target="_blank"
                       class="btn btn-primary"
                       style="padding: 15px 50px;background-color:orangered !important; border:none !important">
                        profil - Beograd <i class="bi bi-instagram"></i>
                    </a>
                </div>

                <p class="poiret" style="margin:0 17px 20px 17px; line-height:1.2;">Pratite naše profile na instagramu i budite u toku sa svim akitvnostima koje sprovodimo!</p>

            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const video = document.getElementById('customVideo');

        video.autoplay = true;
        video.loop = false; 

        video.addEventListener('ended', playBackward);

        function playBackward() {
            let interval = setInterval(() => {
                if (video.currentTime <= 0) {
                    clearInterval(interval); 
                    video.play(); 
                } else {
                    video.currentTime -= 0.1; 
                }
            }, 50); 
        }


        document.addEventListener("DOMContentLoaded", function () {
            const items = document.querySelectorAll(".animate-item");

            const observer = new IntersectionObserver(
                (entries) => {
                    entries.forEach((entry, index) => {
                        if (entry.isIntersecting) {
                            setTimeout(() => {
                                entry.target.classList.add("visible");
                            }, index * 200);
                            observer.unobserve(entry.target); 
                        }
                    });
                },
                {
                    threshold: 0.8,
                }
            );

            items.forEach((item) => observer.observe(item));
        });


        function animateNumber(elementId, targetNumber, duration) {
            const element = document.getElementById(elementId);
            let currentNumber = 1;
            const stepTime = Math.max(Math.floor(duration / targetNumber), 20);

            const interval = setInterval(() => {
                element.textContent = currentNumber;
                currentNumber++;

                if (currentNumber > targetNumber) {
                    clearInterval(interval);
                }
            }, stepTime);
        }

        document.addEventListener("DOMContentLoaded", () => {
            const element = document.getElementById("hours");

            const observer = new IntersectionObserver(
                (entries, observerInstance) => {
                    entries.forEach((entry) => {
                        if (entry.isIntersecting) {

                            animateNumber("hours", 24, 4000);
                            observerInstance.unobserve(entry.target);
                        }
                    });
                },
                { threshold: 0.5 }
            );
            observer.observe(element);
        });

        document.getElementById("contact-link").addEventListener("click", (event) => {
            event.preventDefault(); 

            const targetElement = document.getElementById("contact");
            if (targetElement) {
                targetElement.scrollIntoView({
                    behavior: "smooth", 
                    block: "start",    
                });
            }
        });


        document.addEventListener("DOMContentLoaded", function () {
            const images = [
                { src: '/pic/izborpobednika.png', title: 'Izbor pobednika survivor-a!' },
                { src: '/pic/izborpobednika1.png', title: 'Novo u ponudi - Clear Ice' },
                { src: '/pic/clearice.png', title: 'Clear ice - idealan za koktele' }
            ];

            const randomIndex = Math.floor(Math.random() * images.length);
            const chosenImage = images[randomIndex];

            document.getElementById('modalImage').src = chosenImage.src;
            document.getElementById('welcomeModalLabel').textContent = chosenImage.title;
        });

        document.addEventListener("DOMContentLoaded", function () {
            var myModal = new bootstrap.Modal(document.getElementById('welcomeModal'));
            myModal.show();
        });


        document.addEventListener("DOMContentLoaded", function () {
            const instaLink = document.querySelector(".sectionsocial a"); 
            if (instaLink) {
                instaLink.addEventListener("click", function (e) {
                    e.preventDefault(); 
                    const instaModal = new bootstrap.Modal(document.getElementById('instagramModal'));
                    instaModal.show(); 
                });
            }
        });

    </script>


</body>